{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": false,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "strict",
    "parser": "typescript",
    "printWidth": 100,
    "useTabs": false,
    "vueIndentScriptAndStyle": true
}
